@tailwind base;
@tailwind components;
@tailwind utilities;

.img-height-revert-layer img[height] {
    height: revert-layer;
}

.img-scroll-margin-block-5em img {
    scroll-margin-block: 5em;
}

/* Show mobile controls only on touch devices */
.mobile-controls {
    display: none;
}

@media (hover: none) and (pointer: coarse) {
    .mobile-controls {
        display: flex;
    }
}
